/* Full Website Style */
* {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #d7fffc;
}

/* Title Box */
div.title_box {
    border-radius: 45px;
    border: 10px solid #ffd1b2;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

/* Content Box */
div.content_box {
    border-radius: 45px;
    border: 10px solid #fdffa0;
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 10px;
}

div.content_box#little_busters {
    border: 10px solid #ffb2b2;
}

/* Center Alignment for lists! */
div.list_container, div.links, div.image {
    text-align: center;
}

ul.my_list, ol.my_list {
    display: inline-block;
    text-align: left;
}

/* Aligning Each List */
#anime_currently_watching {
    margin: auto;
}

#top_5_anime {
    margin: auto;
}

p,h1,h2 {
    text-align: center;
}

p {
    color: black;
}

/* Text Shadow for elements that stand out */
h1,h2,#wafu,.quotes {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Rest of Unique qualities */
h1,h2 {
    text-decoration: underline;
}

h1 {
    font-size: 60px;
    color: #ffd1b2;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 0px 15px #000;
}

h2 {
    font-size: 30px;
    color: #ffb2b2;
}

#wafu {
    font-weight: 700;
    font-size: 22px;
    color:#feb2ff;
}

.quotes {
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.quotes {
    font-style: italic;
}

/* Image Formatting for Consistency */
img {
    height: auto;
    width: 750px;
}

a {
    display: block;
}